@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d0d6f7;
  display: flex;
  justify-content: center;
  height: 100vh;

  align-items: center;
}
